
.topnav{
  height: 48px;
}
.topnav a.active {
  background-image: linear-gradient(black, grey);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 2px;
    margin-left: 10px;
    
}
.navbar {
  overflow: hidden;
  background-image:linear-gradient(teal,rgb(68, 182, 182));
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height:48px;
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  align-items: center;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
.image{
  width:10%;
}
.search{
  padding: 10px;
  margin: 2px;
  border-radius: 5px;
  margin-left: 25%;
  width: 30%;
  top:0px;
  height: 18px;
}

.imagestyle{
  height: 50%;
  width: 6%;
  padding: 2px;
  right: 0px;
  margin-left: 30%;
}